<section>
  <div ng-if="vm.room._id && !vm.room.$resolved" class="loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{'LOADING' | translate}}
  </div>

  <div ng-if="!vm.room._id || vm.room.$resolved">
    <ol class="breadcrumb">
      <li><a ui-sref="admin.manage.rooms.list" ng-bind="'ROOM.ROOMS' | translate"></a></li>
      <li ng-if="!vm.room._id" class="active"><a ui-sref="admin.manage.rooms.create" ng-bind="'GENERAL.CREATE' | translate"></a></li>
      <li ng-if="vm.room._id"><a ui-sref="admin.manage.rooms.view({roomCode: vm.room.code})" ng-bind="vm.room.code"></a></li>
      <li ng-if="vm.room._id" class="active"><a ui-sref="admin.manage.rooms.edit({roomCode: vm.room.code})" ng-bind="'GENERAL.EDIT' | translate"></a></li>
    </ol>

    <h2><span ng-if="vm.room._id" ng-bind="vm.room.code"></span><span ng-if="!vm.room._id" ng-bind="'ROOM.CREATE' | translate"></span></h2>

    <div class="col-md-12">
      <form name="vm.form.roomForm" class="form-horizontal" ng-submit="vm.save(vm.form.roomForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="code" ng-bind="'ROOM.CODE' | translate"></label>
            <input name="code" type="text" ng-model="vm.room.code" id="code" class="form-control" placeholder="{{'ROOM.CODE' | translate}}" required ng-disabled="vm.room._id" />
            <div ng-messages="vm.form.roomForm.code.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'ROOM.CODE_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="name" ng-bind="'ROOM.NAME' | translate"></label>
            <input name="name" type="text" ng-model="vm.room.name" id="name" class="form-control" placeholder="{{'ROOM.NAME' | translate}}" />
          </div>
          <div class="form-group">
            <label class="control-label" for="building" ng-bind="'ROOM.BUILDING' | translate"></label>
            <input name="building" type="text" ng-model="vm.room.building" id="building" class="form-control" placeholder="{{'ROOM.BUILDING' | translate}}" />
          </div>
          <div class="form-group">
            <label class="control-label" for="floor" ng-bind="'ROOM.FLOOR' | translate"></label>
            <input name="floor" type="number" ng-model="vm.room.floor" id="floor" class="form-control" placeholder="{{'ROOM.FLOOR' | translate}}" />
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="nbseats" ng-bind="'ROOM.NB_SEATS' | translate"></label>
            <input name="nbseats" type="number" ng-model="vm.room.nbseats" id="nbseats" class="form-control" placeholder="{{'ROOM.NB_SEATS' | translate}}" required />
            <div ng-messages="vm.form.roomForm.nbseats.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'ROOM.NB_SEATS_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-bind="vm.room._id ? 'GENERAL.UPDATE' : 'GENERAL.CREATE' | translate"></button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
