<section>
  <div ng-if="(vm.exam._id && !vm.exam.$resolved) || !vm.isFormReady()" class="loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{'LOADING' | translate}}
  </div>

  <div ng-if="(!vm.exam._id || vm.exam.$resolved) && vm.isFormReady()">
    <ol class="breadcrumb">
      <li><a ui-sref="manage.examsessions.list" ng-bind="'EXAMSESSION.EXAMSESSIONS' | translate"></a></li>
      <li><a ui-sref="manage.examsessions.view({ examsessionCode: vm.examsession.code })">{{vm.examsession.code}}</a></li>
      <li ng-if="!vm.exam._id" class="active"><a ui-sref="manage.examsessions.addexam({ examsessionCode: vm.examsession.code })" ng-bind="'EXAMSESSION.ADD_EXAM' | translate"></a></li>
      <li ng-if="vm.exam._id"><a ui-sref="manage.examsessions.viewexam({ examsessionCode: vm.examsession.code, examId: vm.exam._id })" ng-bind="vm.examtitle"></a></li>
      <li ng-if="vm.exam._id" class="active"><a ui-sref="manage.examsessions.editexam({ examsessionCode: vm.examsession.code, examId: vm.exam._id })" ng-bind="'GENERAL.EDIT' | translate"></a></li>
    </ol>

    <h2><span ng-if="vm.exam._id" ng-bind="vm.examtitle"></span><span ng-if="!vm.exam._id" ng-bind="'EXAMSESSION.ADD_EXAM' | translate"></span></h2>

    <p><span ng-bind="'EXAM.EXAMSESSION_SUMMARY' | translate:{name: vm.examsession.name}"></span> <i>{{vm.examsession.start | amDateFormat: 'ddd D MMM YYYY'}}</i> au <i>{{vm.examsession.end | amDateFormat: 'ddd D MMM YYYY'}}</i>.</p>

    <div class="col-md-12">
      <form name="vm.form.examForm" class="form-horizontal" ng-submit="vm.save(vm.form.examForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="title" ng-bind="'EXAM.TITLE' | translate"></label>
            <input name="title" type="text" ng-model="vm.exam.title" id="title" class="form-control" placeholder="{{'EXAM.TITLE' | translate}}" required />
            <div ng-messages="vm.form.examForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'EXAM.TITLE_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="course" ng-bind="'EXAM.COURSE' | translate"></label>
            <tags-input name="course" type="text" ng-model="vm.exam.course" add-on-blur="false" add-from-autocomplete-only="true" display-property="code" replace-spaces-with-dashes="false" id="course" placeholder="{{'EXAM.COURSE' | translate}}" min-tags="1" max-tags="1">
              <auto-complete source="vm.loadCourses($query)" min-length="0"></auto-complete>
            </tags-input>
            <div ng-messages="vm.form.examForm.course.$error" role="alert">
              <p class="help-block error-text" ng-message="minTags" ng-bind="'EXAM.COURSE_MISSING_ERROR' | translate"></p>
              <p class="help-block error-text" ng-message="maxTags" ng-bind="'EXAM.COURSE_TOOMUCH_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="date" ng-bind="'EXAM.DATE' | translate"></label>
            <div class="controls">
              <div class="dropdown">
                <a class="dropdown-toggle" id="dateDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <div class="input-group">
                    <input name="date" type="datetime-local" ng-model="vm.exam.date" id="date" class="form-control" placeholder="{{'EXAM.DATE' | translate}}" required /><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dateLabel">
                  <datetimepicker ng-model="vm.exam.date" data-datetimepicker-config="{ dropdownSelector: '#dateDropdown', startView:'day', minView:'minute' }"></datetimepicker>
                </ul>
              </div>
            </div>
            <div ng-messages="vm.form.examForm.date.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'EXAM.DATE_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="duration" ng-bind="'EXAM.DURATION' | translate"></label>
            <input name="duration" type="number" ng-model="vm.exam.duration" id="duration" class="form-control" placeholder="{{'EXAM.DURATION' | translate}}" required />
            <div ng-messages="vm.form.examForm.duration.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'EXAM.DURATION_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.exam._id ? 'GENERAL.UPDATE' : 'GENERAL.CREATE' | translate}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
