<section>
  <div ng-if="(vm.course._id && !vm.course.$resolved) || !vm.isFormReady()" class="loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{'LOADING' | translate}}
  </div>

  <div ng-if="(!vm.course._id || vm.course.$resolved) && vm.isFormReady()">
    <ol class="breadcrumb">
      <li><a ui-sref="admin.manage.courses.list" ng-bind="'COURSE.COURSES' | translate"></a></li>
      <li ng-if="!vm.course._id" class="active"><a ui-sref="admin.manage.courses.create" ng-bind="'GENERAL.CREATE' | translate"></a></li>
      <li ng-if="vm.course._id"><a ui-sref="admin.manage.courses.view({courseId: vm.course._id})">{{vm.course.code}} — {{vm.course.name}}</a></li>
      <li ng-if="vm.course._id" class="active"><a ui-sref="admin.manage.courses.edit({courseId: vm.course._id})" ng-bind="'GENERAL.EDIT' | translate"></a></li>
    </ol>

    <h2>{{vm.course._id ? 'COURSE.EDIT' : 'COURSE.CREATE' | translate}}</h2>

    <div class="col-md-12">
      <form name="vm.form.courseForm" class="form-horizontal" ng-submit="vm.save(vm.form.courseForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="code" ng-bind="'COURSE.CODE' | translate"></label>
            <input name="code" type="text" ng-model="vm.course.code" id="code" class="form-control" placeholder="{{'COURSE.CODE' | translate}}" required />
            <div ng-messages="vm.form.courseForm.code.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'COURSE.CODE_REQUIRED_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="name" ng-bind="'COURSE.NAME' | translate"></label>
            <input name="name" type="text" ng-model="vm.course.name" id="name" class="form-control" placeholder="{{'COURSE.NAME' | translate}}" required />
            <div ng-messages="vm.form.courseForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'COURSE.NAME_REQUIRED_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="coordinator" ng-bind="'COURSE.COORDINATOR' | translate"></label>
            <tags-input name="coordinator" type="text" ng-model="vm.course.coordinator" add-on-blur="false" add-from-autocomplete-only="true" display-property="displayName" replace-spaces-with-dashes="false" id="coordinator" placeholder="{{'COURSE.COORDINATOR' | translate}}" min-tags="1" max-tags="1">
              <auto-complete source="vm.loadTeachers($query)" min-length="0"></auto-complete>
            </tags-input>
            <div ng-messages="vm.form.courseForm.coordinator.$error" role="alert">
              <p class="help-block error-text" ng-message="minTags" ng-bind="'COURSE.COORDINATOR_MISSING_ERROR' | translate"></p>
              <p class="help-block error-text" ng-message="maxTags" ng-bind="'COURSE.COORDINATOR_TOOMUCH_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="description" ng-bind="'COURSE.DESCRIPTION' | translate"></label>
            <textarea name="description" ng-model="vm.course.description" id="description" class="form-control" cols="30" rows="5" placeholder="{{'COURSE.DESCRIPTION' | translate}}"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label" for="activities" ng-bind="'COURSE.ACTIVITIES' | translate"></label>
            <tags-input name="activities" type="text" ng-model="vm.course.activities" add-on-blur="false" add-from-autocomplete-only="true" display-property="code" replace-spaces-with-dashes="false" id="activities" placeholder="{{'COURSE.ADD_ACTIVITIES' | translate}}">
              <auto-complete source="vm.loadActivities($query)" min-length="0"></auto-complete>
            </tags-input>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.course._id ? 'GENERAL.UPDATE' : 'GENERAL.CREATE' | translate}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
