<section>
  <div ng-if="!vm.activity.$resolved" class="loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{'LOADING' | translate}}
  </div>

  <div ng-if="vm.activity.$resolved">
    <ol class="breadcrumb">
      <li><a ui-sref="admin.manage.activities.list" ng-bind="'ACTIVITY.ACTIVITIES' | translate"></a></li>
      <li class="active"><a ui-sref="admin.manage.activities.view({activityId: vm.activity._id})" ng-bind="vm.activity.code"></a></li>
    </ol>

    <h2 ng-bind="vm.activity.code"></h2>

    <div class="row">
      <div class="col-md-9">
        <div class="action-box">
          <a ui-sref="admin.manage.activities.edit({activityId: vm.activity._id})" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'ACTIVITY.EDIT' | translate}}</a>
        </div>

        <dl>
          <dt ng-bind="'ACTIVITY.CODE' | translate"></dt>
          <dd ng-bind="vm.activity.code"></dd>
          <dt ng-bind="'ACTIVITY.NAME' | translate"></dt>
          <dd ng-bind="vm.activity.name"></dd>
          <dt ng-bind="'ACTIVITY.TEACHERS' | translate"></dt>
          <dd ng-bind="vm.activity.teachers"></dd>
        </dl>
      </div>

      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="panel-title" ng-bind="'INFORMATIONS' | translate"></h3></div>
          <div class="panel-body">
            <dl>
              <dt ng-bind="'ACTIVITY.NAME' | translate"></dt>
              <dd ng-bind="vm.activity.name"></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
