<section>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="admin.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="admin.manage.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="admin.manage.internships.edit({ internshipId: vm.internship._id })" ng-bind="'GENERAL.EDIT' | translate"></a>
      </li>
      <li ng-if="!vm.internship._id" class="active">
          <a ui-sref="admin.manage.internships.create" ng-bind="'GENERAL.CREATE' | translate"></a></li>
    </ol>
</section>

  <h2>{{vm.internship._id ? 'INTERNSHIP.EDIT' : 'INTERNSHIP.CREATE' | translate}}</h2>
  <hr>

  <div class="col-md-12">
  <form name="vm.form.internshipForm" class="form-horizontal" ng-submit="vm.save(vm.form.internshipForm.$valid)">
  <div class="form-group">
    <button ng-click="vm.save()" class="btn btn-primary">{{'GENERAL.UPDATE' | translate}}</button>
  </div>
  <div class ="row" >
    <div class="col-md-12">
      <h2>General Status</h2>
      <div class="col-md-12">
      <label for="statusSelect">Status: </label><br>
        <select ng-model="vm.internship.generalStatus" ng-options="option for option in vm.filterOptions"></select>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <h2>Participants</h2>
      <div class="col-md-6">
      <div class="row">
        <div class="col-md-5"><strong>Student</strong></div>
        <div class="col-md-6"><input name="internship.student" type="text" placeholder="{{'NO_STUDENT' | translate}}" ng-model="vm.internship.student" id="internshipStudent" class="form-control" uib-typeahead="student as student.displayName for student in vm.students | filter: $viewValue | limitTo: 8" class="form-control" autocomplete="off">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"><strong>Master</strong></div>
        <div class="col-md-6"><input name="internship.master" type="text" placeholder="{{'NO_MASTERTZ' | translate}}" ng-model="vm.internship.master" id="propositionMaster" class="form-control" uib-typeahead="master as master.displayName for master in vm.masters | filter: $viewValue | limitTo: 8" class="form-control" autocomplete="off">
        </div>
      </div>        
      <div class="row">
        <div class="col-md-5"><strong>Consulted Teacher</strong></div>
        <div class="col-md-6">
          <input name="internshipConsultedTeacher" type="text" placeholder="{{'INTERNSHIP.CONSULTEDTEACHER' | translate}}" ng-model="vm.internship.consultedTeacher" id="internshipConsultedTeacher" class="form-control" uib-typeahead="teacher as teacher.displayName for teacher in vm.teachers | filter: $viewValue | limitTo: 8" class="form-control" autocomplete="off">
        </div>
      </div>        
      <div class="row">
        <div class="col-md-5"><strong>Supervisor</strong></div>
        <div class="col-md-6">
          <input name="internshipSupervisorSupervisor" type="text" placeholder="{{'INTERNSHIP.SUPERVISOR' | translate}}" ng-model="vm.internship.supervisor.supervisor" id="internshipSupervisorSupervisor" class="form-control" uib-typeahead="teacher as teacher.displayName for teacher in vm.teachers | filter: $viewValue | limitTo: 8" class="form-control" autocomplete="off">
        </div>
      </div>
    </div>  
  </div>
  </div>
  <hr>

  <div class="row">
      <div class="col-md-12">
        <h2>Enterprise</h2>
        <div class="col-md-6">
          <h3>General information</h3>
            <div class="row">
                  <div class="col-md-5"><strong>Name</strong></div>
                  <div class="col-md-6">
                    <input name="internship.enterprise.name" type="text" ng-model="vm.internship.enterprise.name" id="enterpriseName" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.NAME' | translate}}"/>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Domain</strong></div>
                  <div class="col-md-6">
                     <input name="internship.enterprise.domain" type="text" ng-model="vm.internship.enterprise.domain" id="enterpriseDomain" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.DOMAIN' | translate}}"/>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Representative</strong></div>
                  <div class="col-md-6">
                    <input name="internship.enterprise.Representative.Name" type="text" ng-model="vm.internship.enterprise.representative.name" id="enterpriseRepresentative.Name" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.REPRESENTATIVE.NAME' | translate}}" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Representative Position</strong></div>
                  <div class="col-md-6">
                    <input name="internship.enterprise.Representative.Position" type="text" ng-model="vm.internship.enterprise.representative.position" id="enterpriseRepresentativePosition" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.REPRESENTATIVE.POSITION' | translate}}" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Telephone</strong></div>
                  <div class="col-md-6">
                    <input name="internship.enterprise.phoneNumber" type="tel" ng-model="vm.internship.enterprise.phoneNumber" id="enterprisePhoneNumber" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.PHONENUMBER' | translate}}"/>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Fax</strong></div>
                  <div class="col-md-6">
                    <input name="internship.enterprise.fax" type="tel" ng-model="vm.internship.enterprise.fax" id="enterpriseFax" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.FAX' | translate}}"/>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Mail</strong></div>
                  <div class="col-md-6">
                    <input name="internship.enterprise.mail" type="text" ng-model="vm.internship.enterprise.mail" id="enterpriseMail" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.MAIL' | translate}}"/>
                  </div>
              </div>
        </div>

        <div class="col-md-6">
          <h3>Address</h3>
          <div class="row">
                <div class="col-md-3"><strong>Street</strong></div>
                <div class="col-md-7" >
                  <input name="internship.enterprise.address.street" type="text" ng-model="vm.internship.enterprise.address.street" id="enterpriseAddressStreet" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.STREET' | translate}}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Number</strong></div>
                <div class="col-md-7">
                  <input name="internship.enterprise.address.number" type="text" ng-model="vm.internship.enterprise.address.number" id="enterpriseAddressNumber" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.NUMBER' | translate}}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>PostalCode</strong></div>
                <div class="col-md-7"><input name="internship.enterprise.address.postalCode" type="text" ng-model="vm.internship.enterprise.address.postalCode" id="enterpriseAddressPostalCode" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.POSTALCODE' | translate}}"/></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>City</strong></div>
                <div class="col-md-7">
                  <input name="internship.enterprise.address.City" type="text" ng-model="vm.internship.enterprise.address.city" id="enterpriseAddressCity" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.CITY' | translate}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Country</strong></div>
                <div class="col-md-7">
                  <input name="internship.enterprise.address.City" type="text" ng-model="vm.internship.enterprise.address.country" id="enterpriseAddressCountry" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.COUNTRY' | translate}}"/>
                </div>
            </div>
        </div>
      </div>
    </div>
    <hr>    

    <div class="row">
    <div class="col-md-12">
        <h2>Proposition</h2>
        <div class="col-md-8">   
          <h3>Contents</h3>
          <br>
            <div class="row">
                <div class="col-md-2"><strong>Theme</strong></div>
                <div class="col-md-9">
                  <input name="internship.proposition.theme" type="text" ng-model="vm.internship.proposition.theme" id="propositionTheme" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.THEME' | translate}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Domain</strong></div>
                <div class="col-md-9">
                  <input name="internship.proposition.domain" type="text" ng-model="vm.internship.proposition.domain" id="propositionDomain" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.DOMAIN' | translate}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Location</strong></div>
                <div class="col-md-9">
                  <input name="internship.proposition.location" type="text" ng-model="vm.internship.proposition.location" id="propositionLocation" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.LOCATION' | translate}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Description</strong></div>
                <div class="col-md-9">
                  <textarea name="internshipDescription" ng-model="vm.internship.proposition.description" id="internsipProposisiontDescription" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.PROPOSITION.DESCRIPTION' | translate}}">
                  </textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <h3>Approval</h3>  
          <br>
          <table width="100%">
            <tr>
              <td width="85%">Consulted Teacher:</td>
              <td width="15%">
                <input 
                  name="internship.proposition.approval.consultedTeacherApproval" 
                  type="checkbox" 
                  ng-true-value = "true"
                  ng-false-value = "false"
                  ng-model="vm.internship.proposition.approval.consultedTeacherApproval" 
                  id="propositionApprovalConsultedTeacherApproval" 
                  />
              </td>
            </tr>          
            <tr>
              <td width="85%">Master:</td>
              <td width="15%">
                <input style="text-align: right;" 
                  name="internship.proposition.approval.masterApproval" 
                  type="checkbox" 
                  ng-true-value = "true"
                  ng-false-value = "false"
                  ng-model="vm.internship.proposition.approval.masterApproval" 
                  id="propositionApprovalMasterApproval"
                />
              </td>
            </tr>
            <tr>
              <td width="85%">Coordinator:</td>
              <td width="15%">
                <input 
                  name="internship.proposition.approval.coordinatorApproval" 
                  type="checkbox" 
                  ng-true-value = "true"
                  ng-false-value = "false"
                  ng-model="vm.internship.proposition.approval.coordinatorApproval" 
                  id="propositionApprovalCoordinatorApproval" 
                  />
              </td>
            </tr>
          </table>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
          <div class="col-md-12">
              <h3>Comments</h3>
                <div class="row">
                  <div class="col-md-2"><strong>Teacher comment:</strong></div>
                  <div class="col-md-10">
                    <textarea name="propositionMasterComment" ng-model="vm.internship.proposition.approval.consultedTeacherComment" id="internshipProposisionConsultedTeacherComment" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.PROPOSITION.CONSULTEDTEACHERCOMMENT' | translate}}">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2"><strong>Master comment:</strong></div>
                  <div class="col-md-10">
                    <textarea name="propositionMasterComment" ng-model="vm.internship.proposition.approval.masterComment" id="internshipProposisionMasterComment" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.PROPOSITION.MASTERCOMMENT' | translate}}">
                    </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2"><strong>Coordinator comment:</strong></div>
                  <div class="col-md-10">
                    <textarea name="propositionCoordinatorComment" ng-model="vm.internship.proposition.approval.coordinatorComment" id="internshipProposisionCoordinatorComment" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.PROPOSITION.COORDINATORCOMMENT' | translate}}">
                    </textarea>
                  </div>
                </div>
            </div>
        </div>
        </div>        
      </div>
    </div>
  <hr>

<div class="row">
<h2>Activities Note</h2>
  <div class="row">
  <div class="col-md-12">
  <div class="col-md-12">
  <h3>Contents</h3>
    <div class="form-group">
      <div ng-repeat="Gobjective in vm.internship.activitiesNote.generalObjectives">

        <div class="col-md-6">
          <label class="control-label" for="InternshipActivitiesNoteGeneralObjectives" ng-bind="'INTERNSHIP.ACTIVITIESNOTE.GENERALOBJECTIVES' | translate"></label>
          <div>
            <a role="button">
              <div class="input-group">
                <input type="text" ng-model="Gobjective.value" class="form-control" id="vm.activitiesNote.generalObjective" name="internship.activititesNote.generalObjective" placeholder="INTERNSHIP.ACTIVITIESNOTE.GENERALOBJECTIVE' | translate"/>
                <span class="input-group-addon" ng-click="vm.removeGeneralObjective(Gobjective)"><i class="glyphicon glyphicon-trash"></i></span>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-6">
          <label class="control-label" for="InternshipActivitiesNoteSpecificObjectives" ng-bind="'INTERNSHIP.ACTIVITIESNOTE.SPECIFICOBJECTIVES' | translate"></label>
          <div ng-repeat="Sobjective in Gobjective.specificObjectives">
            <a role="button">
              <div class="input-group">
                <input type="text" ng-model="Sobjective.value" id="vm.activitiesNote.specificObjective" class="form-control" name="internship.activititesNote.specificObjective" placeholder="INTERNSHIP.ACTIVITIESNOTE.SPECIFICOBJECTIVE' | translate"/>
                <span class="input-group-addon" ng-click="vm.removeSpecificObjective(Gobjective,Sobjective)"><i class="glyphicon glyphicon-trash"></i></span>
              </div>
            </a>
          </div>
          <div>
            <a class="btn btn-primary" ng-click="vm.addSpecificObjective(Gobjective)">
              <i class="glyphicon glyphicon-plus"></i>
              <span>Add Specific Objective</span>
            </a> 
          </div>
        </div>
      </div>
      </div>
      <div class="form-group">
        <a class="btn btn-primary" ng-click="vm.addGeneralObjective()">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add General Objective</span>
        </a> 
      </div>
    </div>
    </div> 
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
        <h3>Approval</h3> 
          <table width="100%">
            <tr>
              <td width="10%">Master:</td>
              <td>
                <input 
                  name="activitiesNoteApprovalMasterApproval" 
                  type="checkbox" 
                  ng-true-value = "true"
                  ng-false-value = "false"
                  ng-model="vm.internship.activitiesNote.approval.masterApproval" 
                  id="activitiesNoteApprovalMasterApproval" 
                  />
              </td>
            </tr>          
            <tr>
              <td width="10%">Supervisor:</td>
              <td>
                <input 
                  name="activitiesNoteApprovalSupervisorApproval" 
                  type="checkbox" 
                  ng-true-value = "true"
                  ng-false-value = "false"
                  ng-model="vm.internship.activitiesNote.approval.supervisorApproval" 
                  id="activitiesNoteApprovalSupervisorApproval" 
                  />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
        <h3>Comments</h3>
          <div class="row">
            <div class="col-md-2"><strong>Master comment:</strong></div>
            <div class="col-md-10">
              <textarea name="activitiesNoteMasterComment" ng-model="vm.internship.activitiesNote.masterComment" id="internshipActivitiesNoteMasterComment" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.ACTIVITIESNOTE.MASTERCOMMENT' | translate}}">
              </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><strong>Supervisor comment:</strong></div>
            <div class="col-md-10">
              <textarea name="propositionSupervisorComment" ng-model="vm.internship.activitiesNote.supervisorComment" id="internshipActivitiesNoteSupervisorComment" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.ACTIVITIESNOTE.SUPERVISORCOMMENT' | translate}}">
              </textarea>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>  
<hr>    


<div class="row">
<div class="col-md-12">
<h2>Deliverables</h2>
  <div class="col-md-3">
  <h3>Convention (given)</h3>
  <div class="row">
      <div class="col-md-3"><strong>Status</strong></div>
      <div class="col-md-7">
        <input 
        name="conventionGiven" 
        type="checkbox" 
        ng-true-value = "true"
        ng-false-value = "false"
        ng-model="vm.internship.convention.given" 
        id="conventionHandedIn" 
        />
      </div>
  </div>
</div>
<div class="col-md-3">
  <h3>Convention (validated)</h3>
  <div class="row">
      <div class="col-md-3"><strong>Status</strong></div>
      <div class="col-md-7">
        <input 
        name="conventionValidation" 
        type="checkbox" 
        ng-true-value = "true"
        ng-false-value = "false"
        ng-model="vm.internship.convention.validation" 
        id="conventionValidation" 
        />
      </div>
  </div>
</div>
<div class="col-md-3">
  <h3>Certificate</h3>
  <div class="row">
      <div class="col-md-3"><strong>Status</strong></div>
      <div class="col-md-7">
        <input 
        name="certificateHandedIn" 
        type="checkbox" 
        ng-true-value = "true"
        ng-false-value = "false"
        ng-model="vm.internship.certificate.handedIn" 
        id="certificateHandedIn" 
        />
      </div>
      </div>
  </div>
<div class="col-md-3">
  <h3>Written report</h3>
  <div class="row">
      <div class="col-md-3"><strong>Status</strong></div>
      <div class="col-md-7">
        <input 
        name="writtenReportHandedIn" 
        type="checkbox" 
        ng-true-value = "true"
        ng-false-value = "false"
        ng-model="vm.internship.writtenReport.handedIn" 
        id="writtentReportHandedIn" 
        />
      </div>
  </div>
</div>
</div>
</div>
<hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Deadlines</h2>
        <div class="col-md-3">
          <h3>Internship start</h3>
          <div class="row">
                <div class="col-md-10">
                  <input ng-click="vm.open(vm.internship,'startPopup','startInternship')" name="deadlinesStartInternship"  type="date" class="form-control" show-button-bar="false" uib-datepicker-popup ng-model="vm.internship.deadlines.startInternship" is-open="vm.internship.startPopup.opened"/><span ng-click="vm.open(vm.internship,'startPopup','startInternship')" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Certificate</h3>
          <div class="row">
                <div class="col-md-10" ng-bind="vm.internship.deadlines.certificate | amDateFormat:'ddd D MMM YYYY'"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Written report</h3>
          <div class="row">
                <div class="col-md-10" ng-bind="vm.internship.deadlines.writtenReport | amDateFormat:'ddd D MMM YYYY'"></div>
          </div>
        </div>        
        <div class="col-md-3">
          <h3>Internship end</h3>
          <div class="row">
                <div class="col-md-10">
                  <input ng-click="vm.open(vm.internship,'endPopup','endInternship')" name="deadlinesEndInternship"  type="date" class="form-control" show-button-bar="false" uib-datepicker-popup ng-model="vm.internship.deadlines.endInternship" is-open="vm.internship.endPopup.opened"/><span ng-click="vm.open(vm.internship,'endPopup','endInternship')" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

  <div class="row">
  <div class="col-md-12">
  <h2>First Meeting</h2>
    <div class="col-md-12">
      <h3>General information</h3>
        <div class="col-md-6">
        <h4>Location & Date</h4>
        <label class="control-label" for="start" ng-bind="'INTERNSHIP.FIRSTVISIT.DATE' | translate"></label>
        <div class="controls">
          <div class="input-group">
            <input ng-click="vm.open1()" name="internshipFirstVisitDate"  type="date" class="form-control" show-button-bar="false" uib-datepicker-popup ng-model="vm.internship.firstVisit.date" is-open="vm.popup1.opened"/><span ng-click="vm.open1()" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        <label class="control-label" for="InternshipFirstVisitLocation" ng-bind="'INTERNSHIP.FIRSTVISIT.LOCATION' | translate"></label>
        <textarea name="internshipFirstVisitLocation" ng-model="vm.internship.firstVisit.location" id="internshipFirstVisitLocation" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.FIRSTVISIT.LOCATION' | translate}}">
        </textarea>          
        </div>
      </div>     
      <div class="col-md-6">
        <h4>Validation</h4>
        <div class="col-md-12">
          <div class="col-md-4">Supervisor</div>
          <div class="col-md-2">
            <input 
              name="firstVisitSupervisorValidation" 
              type="checkbox" 
              ng-true-value = "true"
              ng-false-value = "false"
              ng-model="vm.internship.firstVisit.supervisorValidation" 
              id="firstVisitSupervisorValidation" 
              />
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">Master</div>
          <div class="col-md-2">
            <input 
              name="firstVisitMasterValidation" 
              type="checkbox" 
              ng-true-value = "true"
              ng-false-value = "false"
              ng-model="vm.internship.firstVisit.masterValidation" 
              id="firstVisitSupervisorValidation" 
              />
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">Done?</div>
          <div class="col-md-2">
            <input 
              name="firstVisitDone" 
              type="checkbox" 
              ng-true-value = "true"
              ng-false-value = "false"
              ng-model="vm.internship.firstVisit.done" 
              id="firstVisitDone" 
              />
          </div>
        </div>
      </div>
    </div>
    
    
  <div class="col-md-12">
  <h3>Notes</h3>
    <div class="col-md-12">
      <div>
      <h4>Supervisor Notes</h4>
      <fieldset>
          <div class="row" ng-repeat="Note in vm.internship.firstVisit.supervisorNotes">
            <div class="col-md-12">
              <label class="control-label" for="internshipFirstVisitSupervisorNotes" ng-bind="'INTERNSHIP.FIRSTVISIT.SUPERVISORNOTES' | translate"></label>
              <textarea name="internshipFirstVisitSupervisorNoteValue" ng-model="Note.value" id="internshipFirstVisitSupervisorNoteValue" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.FIRSTVISIT.SUPERVISORNOTE.VALUE' | translate}}" >
              </textarea>
              <br>
              <a ng-if="$index !== 0" class="btn btn-primary" ng-click="vm.removeVisitNoteField($index,'teacher')">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Remove field</span>
              </a>
            </div>      
        </div>
      </fieldset>
      <a class="btn btn-primary" ng-click="vm.addVisitNoteField('teacher')">
        <i class="glyphicon glyphicon-plus"></i>
          <span>Add extra field</span>
      </a>

       <h4>Master Notes</h4>              
      <fieldset>
          <div class="row" ng-repeat="Note in vm.internship.firstVisit.masterNotes">
            <div class="col-md-12">
              <label class="control-label" for="internshipFirstVisitMasterNotes" ng-bind="'INTERNSHIP.FIRSTVISIT.MASTERRNOTES' | translate"></label>
              <textarea name="internshipFirstVisitMasterNoteValue" ng-model="Note.value" id="internshipFirstVisitMasterNoteValue" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.FIRSTVISIT.MASTERNOTE.VALUE' | translate}}">
              </textarea>
              <br>
              <a ng-if="$index !== 0" class="btn btn-primary" ng-click="vm.removeVisitNoteField($index,'master')">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Remove field</span>
              </a>
            </div>
          </div>  
    </fieldset>
      <a class="btn btn-primary" ng-click="vm.addVisitNoteField('master')">
        <i class="glyphicon glyphicon-plus"></i>
          <span>Add extra field</span>
      </a>                        
    </div>
  </div>
  </div>
  
</div>
</div>
<hr>


  <div class="row">
  <div class="col-md-12">
  <h2>Oral Presentation</h2>
    <div class="col-md-12">
      <h3>General information</h3>
        <div class="col-md-6">
        <h4>Location & Date</h4>
        <label class="control-label" for="start" ng-bind="'INTERNSHIP.ORALPRESENTATION.DATE' | translate"></label>
        <div class="controls">
          <div class="input-group">
            <input ng-click="vm.open2()" name="internshipOralPresentationDate"  type="date" class="form-control" show-button-bar="false" uib-datepicker-popup ng-model="vm.internship.oralPresentation.date" is-open="vm.popup2.opened"/><span ng-click="vm.open2()" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
        <label class="control-label" for="InternshipOralPresentationLocation" ng-bind="'INTERNSHIP.ORALPRESENTATION.LOCATION' | translate"></label>
        <textarea name="internshipOralPresentationLocation" ng-model="vm.internship.oralPresentation.location" id="internshipOralPresentationLocation" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.ORALPRESENTATION.LOCATION' | translate}}">
        </textarea>          
      </div>     
      <div class="col-md-6">
      <h4>Validation</h4>
        <div class="col-md-12">
          <div class="col-md-4">Supervisor</div>
          <div class="col-md-2">
            <input 
              name="oralPresentationSupervisorValidation" 
              type="checkbox" 
              ng-true-value = "true"
              ng-false-value = "false"
              ng-model="vm.internship.oralPresentation.supervisorValidation" 
              id="oralPresentationSupervisorValidation" 
              />
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">Master</div>
          <div class="col-md-2">
            <input 
              name="oralPresentationMasterValidation" 
              type="checkbox" 
              ng-true-value = "true"
              ng-false-value = "false"
              ng-model="vm.internship.oralPresentation.masterValidation" 
              id="oralPresentationSupervisorValidation" 
              />
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">Done?</div>
          <div class="col-md-2">
            <input 
              name="oralPresentationDone" 
              type="checkbox" 
              ng-true-value = "true"
              ng-false-value = "false"
              ng-model="vm.internship.oralPresentation.done" 
              id="oralPresentationDone" 
              />
          </div>
        </div>
      </div>
    </div>

  <div class="col-md-12">
  <h3>Notes</h3>
    <div class="col-md-12">
      <div>
      <h4>Supervisor Notes</h4>
      <fieldset>
          <div class="row" ng-repeat="Note in vm.internship.oralPresentation.supervisorNotes">
            <div class="col-md-12">
              <label class="control-label" for="internshipOralPresentationSupervisorNotes" ng-bind="'INTERNSHIP.ORALPRESENTATION.SUPERVISORNOTES' | translate"></label>
              <textarea name="internshipOralPresentationSupervisorNoteValue" ng-model="Note.value" id="internshipOralPresentationSupervisorNoteValue" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.ORALPRESENTATION.SUPERVISORNOTE.VALUE' | translate}}">
              </textarea>
              <br>
              <a ng-if="$index !== 0" class="btn btn-primary" ng-click="vm.removeOralNoteField($index,'teacher')">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Remove field</span>
              </a>
            </div>      
        </div>
      </fieldset>
      <a class="btn btn-primary" ng-click="vm.addOralNoteField('teacher')">
        <i class="glyphicon glyphicon-plus"></i>
          <span>Add extra field</span>
      </a>

       <h4>Master Notes</h4>              
      <fieldset>
          <div class="row" ng-repeat="Note in vm.internship.oralPresentation.masterNotes">
            <div class="col-md-12">
              <label class="control-label" for="internshipOralPresentationMasterNotes" ng-bind="'INTERNSHIP.ORALPRESENTATION.MASTERRNOTES' | translate"></label>
              <textarea name="internshipFirstOralPresentationNoteValue" ng-model="Note.value" id="internshipOralPresentationMasterNoteValue" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.ORALPRESENTATION.MASTERNOTE.VALUE' | translate}}">
              </textarea>
              <br>
              <a ng-if="$index !== 0" class="btn btn-primary" ng-click="vm.removeOralNoteField($index,'master')">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Remove field</span>
              </a>
            </div>
          </div>  
    </fieldset>
      <a class="btn btn-primary" ng-click="vm.addOralNoteField('master')">
        <i class="glyphicon glyphicon-plus"></i>
          <span>Add extra field</span>
      </a>                        
    </div>
  </div>
  </div>
  
</div>
</div>
  <hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Intermediate Evaluation</h2>
        <div class="col-md-8">
          <h3>Master notes</h3>
          <div class="row">
                <div class="col-md-12" ng-bind="vm.internship.intermediateEvaluation.masterNotes"></div>
          </div>
        </div>
        <div class="col-md-4">
        <h3>General information</h3>
            <div class="row">
                  <div class="col-md-5"><strong>Date</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.intermediateEvaluation.date | amDateFormat:'ddd D MMM YYYY'"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Location</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.intermediateEvaluation.location"></div>
              </div>
        </div>
      </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Continuous Evaluation</h2>
        <div class="col-md-3">
          <h3>Points</h3>
          <div class="row">
              <ul><li ng-repeat="i in cvm.getNumber(vm.internship.continuousEvaluation.points.length)">
              {{vm.internship.continuousEvaluation.points[i]}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Oral Presentation</h2>
        <div class="col-md-3">
          <h3>Points</h3>
          <div class="row">
                <ul><li ng-repeat="i in cvm.getNumber(vm.internship.oralPresentation.points.length)">
                  {{vm.internship.oralPresentation.points[i]}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>    

    <div class="row">
      <div class="col-md-12">
        <h2>Written Report</h2>
        <div class="col-md-3">
          <h3>Points</h3>
          <div class="row">
                <ul><li ng-repeat="i in cvm.getNumber(vm.internship.writtenReport.points.length)">
                  {{vm.internship.writtenReport.points[i]}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>    
  </div>
  </div>









