<section>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="master.manage.students.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="master.manage.students.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="master.manage.students.internships.firstVisitNotes({ internshipId: vm.internship._id })" ng-bind="'GENERAL.EDIT' | translate"></a>
      </li>
    </ol>
</section>

<h2>{{'INTERNSHIP.FIRSTVISIT.SUPERVISORNOTES' | translate}}</h2>

<form name="vm.form.internshipFirstVisitForm" class="form-horizontal" ng-submit="vm.save(vm.form.internshipFirstVisitForm.$valid)" novalidate>
<div class="col-md-12">
  <h3>Notes and Comments during first visit</h3>

    <fieldset>
      <div class="form-group">
          <div class="row" ng-repeat="Note in vm.internship.firstVisit.masterNotes">
            <div class="col-md-12">
              <label class="control-label" for="internshipFirstVisitMasterNotes" ng-bind="'INTERNSHIP.FIRSTVISIT.MASTERRNOTES' | translate"></label>
              <textarea name="internshipFirstVisitMasterNoteValue" ng-model="Note.value" id="internshipFirstVisitMasterNoteValue" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.FIRSTVISIT.MASTERNOTE.VALUE' | translate}}" required>
              </textarea>
              <div ng-messages="Note.$error" role="alert">
                <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.FIRSTVISIT.MASTERNOTE.VALUE' | translate"></p>
              </div>
              <br>
              <a class="btn btn-primary" ng-click="vm.removeNoteField($index)">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Remove field</span>
              </a>
            </div>
            
        </div>
      </div>  
    </fieldset>

    <div class="form-group">
      <a class="btn btn-primary" ng-click="vm.addNoteField()">
        <i class="glyphicon glyphicon-plus"></i>
          <span>Add extra field</span>
      </a>
      <button type="submit" class="btn btn-primary">{{'SUBMIT' | translate}}</button>
    </div>
</div>
</form>


