<section>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="admin.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.edit.proposition({ internshipId: vm.internship._id })" ng-bind="'GENERAL.EDIT' | translate"></a>
      </li>
    </ol>
</section>

    <h2>{{vm.internship._id ? 'INTERNSHIP.JOURNAL.ENTRY.EDIT' : 'INTERNSHIP.JOURNAL.ENTRY.CREATE' | translate}}</h2>

    <div class="col-md-12">
      <form name="vm.form.internshipJournalForm" class="form-horizontal" ng-submit="vm.save(vm.form.internshipForm.$valid)" novalidate>
      
  <h3>New Journal Entry:</h3>
      <fieldset>

          <div class="form-group" show-errors>
            <label class="control-label" for="journalEntryDate" ng-bind="'INTERNSHIP.JOURNAL.ENTRY.DATE' | translate"></label>
            <input name="internshipJournalEntryDate" type="date" ng-disabled="true" ng-model="vm.journalDate" id="journalEntryDate" class="form-control" placeholder="{{vm.todayDate}}" required />
            <div ng-messages="vm.form.internshipJournalForm.journal.entry.date.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.JOURNAL.ENTRY.DATE' | translate"></p>
          </div>
          </div>               

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipEntryNote" ng-bind="'INTERNSHIP.JOURNAL.ENTRY.NOTE' | translate"></label>
            <textarea name="internshipJournalEntryNote" ng-model="vm.journalNote" id="internshipJournalEntryNote" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.JOURNAL.ENTRY.NOTE' | translate}}" required></textarea>
            <div ng-messages="vm.form.internshipJournalForm.journal.entry.note.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.JOURNAL.ENTRY.NOTE' | translate"></p>
            </div>
          </div>
 
        </fieldset>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{'GENERAL.CREATE' | translate}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
      </form>
    </div>
