<section>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="admin.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.edit.proposition({ internshipId: vm.internship._id })" ng-bind="'GENERAL.EDIT' | translate"></a>
      </li>
    </ol>
</section>
<div class="alert alert-warning" ng-if="vm.internship.generalStatus!=='Proposition Encoding'" ng-bind="'INTERNSHIP.CANT_EDIT' | translate"></div>

<div ng-if="vm.internship.generalStatus ==='Proposition Encoding'">
    <h2>{{vm.internship._id ? 'INTERNSHIP.EDIT' : 'INTERNSHIP.CREATE' | translate}}</h2>

    <div class="col-md-12">
      <form name="vm.form.internshipPropositionForm" class="form-horizontal" ng-submit="vm.save(vm.form.internshipPropositionForm.$valid)" novalidate>
      
  <h3>Proposition:</h3>
      <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="propositionTheme" ng-bind="'INTERNSHIP.PROPOSITION.THEME' | translate"></label>
            <input name="internship.proposition.theme" type="text" ng-model="vm.internship.proposition.theme" id="propositionTheme" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.THEME' | translate}}" required />
            <div ng-messages="vm.form.internshipProposistionForm.proposition.theme.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.THEME' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="propositionDomain" ng-bind="'INTERNSHIP.PROPOSITION.DOMAIN' | translate"></label>
            <input name="internship.proposition.domain" type="text" ng-model="vm.internship.proposition.domain" id="propositionDomain" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.DOMAIN' | translate}}" required />
            <div ng-messages="vm.form.internshipProposistionForm.proposition.domain.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.DOMAIN' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="propositionLocation" ng-bind="'INTERNSHIP.PROPOSITION.LOCATION' | translate"></label>
            <input name="internship.proposition.location" type="text" ng-model="vm.internship.proposition.location" id="propositionLocation" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.LOCATION' | translate}}" required />
            <div ng-messages="vm.form.internshipProposistionForm.proposition.location.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.LOCATION' | translate"></p>
          </div>
          </div>               

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionDescription" ng-bind="'INTERNSHIP.PROPOSITION.DESCRIPTION' | translate"></label>
            <textarea name="internshipDescription" ng-model="vm.internship.proposition.description" id="internsipProposisiontDescription" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.PROPOSITION.DESCRIPTION' | translate}}" required></textarea>
            <div ng-messages="vm.form.internshipProposistionForm.proposition.description.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.DESCRIPTION' | translate"></p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionApprovalConsultedTeacher" ng-bind="'INTERNSHIP.CONSULTEDTEACHER' | translate"></label>
            <input 
            name="internship.consultedTeacher" 
            type="text" 
            ng-model="vm.internship.consultedTeacher" id="propositionConsultedTeacher" class="form-control" placeholder="5810c73167f35ee81f7a30b5" required />
            <div ng-messages="vm.form.internshipProposistionForm.consultedTeacher.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.CONSULTEDTEACHER' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipMaster" ng-bind="'INTERNSHIP.MASTER' | translate"></label>
            <input name="internship.master" type="text" ng-model="vm.internship.master" id="master" class="form-control" placeholder="5810c73167f35ee81f7a30b5" required />
            <div ng-messages="vm.form.internshipProposistionForm.master.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.MASTER' | translate"></p>
            </div>
            </div>   
        </fieldset>



          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.internship.proposition ? 'GENERAL.UPDATE' : 'GENERAL.CREATE' | translate}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
      </form>
    </div>
  </div>