<section>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="admin.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.edit.supervisor({ internshipId: vm.internship._id })" ng-bind="'GENERAL.EDIT' | translate"></a>
      </li>
    </ol>
</section>

    <h2>{{vm.internship.supervisor ? 'INTERNSHIP.SUPERVISOR.EDIT' : 'INTERNSHIP.SUPERVISOR' | translate}}</h2>

    <div class="col-md-12">
      <form name="vm.form.internshipSupervisorForm" class="form-horizontal" ng-submit="vm.save(vm.form.internshipSupervisorForm.$valid)" novalidate>
      
  <h3>Choose your supervisor</h3>
      <fieldset>         
          <div class="form-group" show-errors>
            <label class="control-label" for="internshipSupervisorProposedSupervisor" ng-bind="'INTERNSHIP.SUPERVISOR.PROPOSEDSUPERVISOR' | translate"></label>
            
            <input name="internshipSupervisorProposedSupervisor" type="text" placeholder="{{'INTERNSHIP.SUPERVISOR' | translate}}" ng-model="vm.internship.supervisor.proposedSupervisor" id="internshipSupervisorProposedSupervisor" class="form-control" uib-typeahead="teacher as teacher.displayName for teacher in vm.teachers | filter: $viewValue | limitTo: 8" class="form-control" required autocomplete="off">

            <div ng-messages="vm.form.internshipSupervisorForm.proposedSupervisor.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.SUPERVISOR.PROPOSEDSUPERVISOR' | translate"></p>
            </div>
          </div>
 
        </fieldset>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.internship.supervisor.proposedSupervisor? 'GENERAL.UPDATE' : 'GENERAL.CREATE' | translate}}</button>
        </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
      </form>
    </div>
