<section>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="admin.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="admin.manage.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="admin.manage.internships.edit({ internshipId: vm.internship._id })" ng-bind="'GENERAL.EDIT' | translate"></a>
      </li>
      <li ng-if="!vm.internship._id" class="active">
          <a ui-sref="admin.manage.internships.create" ng-bind="'GENERAL.CREATE' | translate"></a></li>
    </ol>
</section>

    <h2>{{vm.internship._id ? 'INTERNSHIP.EDIT' : 'INTERNSHIP.CREATE' | translate}}</h2>

    <div class="col-md-12">
      <form name="vm.form.internshipForm" class="form-horizontal" ng-submit="vm.save(vm.form.internshipForm.$valid)" novalidate>
      
    <h3>People:</h3>

        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="studentId" ng-bind="'INTERNSHIP.STUDENT' | translate"></label>
            <input name="internship.student" type="text" ng-model="vm.internship.student" id="student" class="form-control" placeholder="5810c73167f35ee81f7a30b5" required>5810c73167f35ee81f7a30b5</input>
            <div ng-messages="vm.form.internshipForm.student.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.STUDENT_ERROR' | translate"></p>
            </div>
          </div>

              <div class="form-group" show-errors>
              <label class="control-label" for="InternshipMaster" ng-bind="'INTERNSHIP.MASTER' | translate"></label>
              <input name="internship.master" type="text" ng-model="vm.internship.master" id="master" class="form-control" placeholder="5810c73167f35ee81f7a30b5" required />
              <div ng-messages="vm.form.internship.master.$error" role="alert">
                <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.MASTER' | translate"></p>
            </div>
            </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipSupervisor" ng-bind="'INTERNSHIP.SUPERVISOR' | translate"></label>
            <input name="internship.supervisor" type="text" ng-model="vm.internship.supervisor" id="master" class="form-control" placeholder="5810c73167f35ee81f7a30b5" required />
            <div ng-messages="vm.form.internship.supervisor.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.SUPERVISOR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipValidator" ng-bind="'INTERNSHIP.VALIDATOR' | translate"></label>
            <input name="internship.validator" type="text" ng-model="vm.internship.validator" id="master" class="form-control" placeholder="5810c73167f35ee81f7a30b5" required />
            <div ng-messages="vm.form.internship.validator.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.VALIDATOR' | translate"></p>
          </div>
          </div>
        </fieldset>

    <h3>Enterprise:</h3>
        <fieldset>
           <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseName" ng-bind="'INTERNSHIP.ENTERPRISE.NAME' | translate"></label>
            <input name="internship.enterprise.name" type="text" ng-model="vm.internship.enterprise.name" id="enterpriseName" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.NAME' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.NAME_ERROR' | translate"></p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseDomain" ng-bind="'INTERNSHIP.ENTERPRISE.DOMAIN' | translate"></label>
            <input name="internship.enterprise.domain" type="text" ng-model="vm.internship.enterprise.domain" id="enterpriseDomain" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.DOMAIN' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.domain.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.DOMAIN_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseAddressStreet" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.STREET' | translate"></label>
            <input name="internship.enterprise.address.street" type="text" ng-model="vm.internship.enterprise.address.street" id="enterpriseAddressStreet" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.STREET' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.address.street.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.STREET_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseAddressNumber" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.NUMBER' | translate"></label>
            <input name="internship.enterprise.address.number" type="text" ng-model="vm.internship.enterprise.address.number" id="enterpriseAddressNumber" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.NUMBER' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.address.number.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.NUMBER_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseAddressPostalCode" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.POSTALCODE' | translate"></label>
            <input name="internship.enterprise.address.postalCode" type="text" ng-model="vm.internship.enterprise.address.postalCode" id="enterpriseAddressPostalCode" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.POSTALCODE' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.address.postalCode.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.POSTALCODE_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseAddressCity" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.CITY' | translate"></label>
            <input name="internship.enterprise.address.City" type="text" ng-model="vm.internship.enterprise.address.city" id="enterpriseAddressCity" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.CITY' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.address.city.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.CITY_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseAddressCountry" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.COUNTRY' | translate"></label>
            <input name="internship.enterprise.address.City" type="text" ng-model="vm.internship.enterprise.address.country" id="enterpriseAddressCountry" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.ADDRESS.COUNTRY' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.address.country.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.ADDRESS.COUNTRY_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterprisePhoneNumber" ng-bind="'INTERNSHIP.ENTERPRISE.PHONENUMBER' | translate"></label>
            <input name="internship.enterprise.phoneNumber" type="text" ng-model="vm.internship.enterprise.phoneNumber" id="enterprisePhoneNumber" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.PHONENUMBER' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.phoneNumber.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.PHONENUMBER_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseFax" ng-bind="'INTERNSHIP.ENTERPRISE.FAX' | translate"></label>
            <input name="internship.enterprise.fax" type="text" ng-model="vm.internship.enterprise.fax" id="enterpriseFax" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.FAX' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.fax.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.FAX_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseMail" ng-bind="'INTERNSHIP.ENTERPRISE.MAIL' | translate"></label>
            <input name="internship.enterprise.mail" type="text" ng-model="vm.internship.enterprise.mail" id="enterpriseMail" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.MAIL' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.mail.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.MAIL_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseRepresentativeName" ng-bind="'INTERNSHIP.ENTERPRISE.REPRESENTATIVE.NAME' | translate"></label>
            <input name="internship.enterprise.Representative.Name" type="text" ng-model="vm.internship.enterprise.representative.name" id="enterpriseRepresentative.Name" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.REPRESENTATIVE.NAME' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.representative.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.REPRESENTATIVE.NAME_ERROR' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="enterpriseRepresentativePosition" ng-bind="'INTERNSHIP.ENTERPRISE.REPRESENTATIVE.POSITION' | translate"></label>
            <input name="internship.enterprise.Representative.Position" type="text" ng-model="vm.internship.enterprise.representative.position" id="enterpriseRepresentativePosition" class="form-control" placeholder="{{'INTERNSHIP.ENTERPRISE.REPRESENTATIVE.POSITION' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.enterprise.representative.position.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ENTERPRISE.REPRESENTATIVE.POSITION_ERROR' | translate"></p>
          </div>
          </div>
      </fieldset>

  <h3>Proposition:</h3>
      <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="propositionTheme" ng-bind="'INTERNSHIP.PROPOSITION.THEME' | translate"></label>
            <input name="internship.proposition.theme" type="text" ng-model="vm.internship.proposition.theme" id="propositionTheme" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.THEME' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.proposition.theme.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.THEME' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="propositionDomain" ng-bind="'INTERNSHIP.PROPOSITION.DOMAIN' | translate"></label>
            <input name="internship.proposition.domain" type="text" ng-model="vm.internship.proposition.domain" id="propositionDomain" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.DOMAIN' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.proposition.domain.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.DOMAIN' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="propositionLocation" ng-bind="'INTERNSHIP.PROPOSITION.LOCATION' | translate"></label>
            <input name="internship.proposition.location" type="text" ng-model="vm.internship.proposition.location" id="propositionLocation" class="form-control" placeholder="{{'INTERNSHIP.PROPOSITION.LOCATION' | translate}}" required />
            <div ng-messages="vm.form.internshipForm.proposition.location.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.LOCATION' | translate"></p>
          </div>
          </div>               

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionDescription" ng-bind="'INTERNSHIP.PROPOSITION.DESCRIPTION' | translate"></label>
            <textarea name="internshipDescription" ng-model="vm.internship.proposition.description" id="internsipProposisiontDescription" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.PROPOSITION.DESCRIPTION' | translate}}" required></textarea>
            <div ng-messages="vm.form.internshipForm.proposition.description.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.DESCRIPTION' | translate"></p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionApprovalConsultedTeacher" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.CONSULTEDTEACHER' | translate"></label>
            <input 
            name="internship.proposition.approval.consultedTeacher" 
            type="text" 
            ng-model="vm.internship.proposition.approval.consultedTeacher" id="propositionApprovalConsultedTeacher" class="form-control" placeholder="5810c73167f35ee81f7a30b5" required />
            <div ng-messages="vm.form.internshipForm.proposition.approval.consultedTeacher.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.CONSULTEDTEACHER' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionApprovalConsultedTeacherApproval" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.CONSULTEDTEACHER.APPROVAL' | translate"></label>
            <input 
            name="internship.proposition.approval.consultedTeacherApproval" 
            ng-true-value = "true"
            ng-false-value = "false"
            type="checkbox" 
            ng-model="vm.internship.proposition.approval.consultedTeacherApproval" 
            id="propositionApprovalConsultedTeacherApproval" 
            class="form-control" 
            />
            <div ng-messages="vm.form.internshipForm.proposition.approval.consultedTeacherApproval.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.CONSULTEDTEACHERAPPROVAL' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionApprovalUnitChiefApproval" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.UNITCHIEFAPPROVAL' | translate"></label>
            <input 
            name="internship.proposition.approval.unitChiefApproval" 
            type="checkbox" 
            ng-true-value = "true"
            ng-false-value = "false"
            ng-model="vm.internship.proposition.approval.unitChiefApproval" 
            id="propositionApprovalUnitChiefApproval" 
            class="form-control" 
            />
            <div ng-messages="vm.form.internshipForm.proposition.approval.unitChiefApproval.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.UNITCHIEFAPPROVAL' | translate"></p>
          </div>
          </div>          

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionApprovalMasterApproval" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.MASTERAPPROVAL' | translate"></label>
            <input 
            name="internship.proposition.approval.masterApproval" 
            type="checkbox" 
            ng-true-value = "true"
            ng-false-value = "false"
            ng-model="vm.internship.proposition.approval.masterApproval" 
            id="propositionApprovalMasterApproval" 
            class="form-control" 
            />
            <div ng-messages="vm.form.internshipForm.proposition.approval.masterApproval.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.MASTERAPPROVAL' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionsSupervisorApproval" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.SUPERVISORAPPROVAL' | translate"></label>
            <input 
            name="internship.proposition.approval.supervisorApproval" 
            type="checkbox" 
            ng-true-value = "true"
            ng-false-value = "false"
            ng-model="vm.internship.proposition.approval.supervisorApproval" 
            id="propositionApprovalMasterApproval" 
            class="form-control" 
            />
            <div ng-messages="vm.form.internshipForm.proposition.approval.supervisorApproval.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.SUPERVISORAPPROVAL' | translate"></p>
          </div>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipPropositionApprovalValidatorApproval" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.VALIDATORAPPROVAL' | translate"></label>
            <input 
            name="internship.proposition.approval.validatorApproval" 
            type="checkbox"
            ng-true-value = "true"
            ng-false-value = "false" 
            ng-model="vm.internship.proposition.approval.validatorApproval" 
            id="propositionApprovalValidatorApproval" 
            class="form-control" 
            />
            <div ng-messages="vm.form.internshipForm.proposition.approval.validatorApproval.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.PROPOSITION.APPROVAL.VALIDATORAPPROVAL' | translate"></p>
          </div>
          </div>



        </fieldset>

    <h3>Convention</h3>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipConventionValidation" ng-bind="'INTERNSHIP.CONVENTION.VALIDATION' | translate"></label>
            <input 
            name="internship.convention.validation" 
            ng-true-value = "true"
            ng-false-value = "false"
            type="checkbox"  
            ng-model="vm.internship.convention.validation" 
            id="conventionValidation" 
            class="form-control" 
            />
            <div ng-messages="vm.form.internshipForm.convetion.validation.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.CONVENTION.VALIDATION' | translate"></p>
          </div>
          </div>          
        </fieldset>

    <h3>Activities Note</h3>
        <fieldset>
          <div  class="form-group" show-errors>
            <label class="control-label" for="InternshipActivitiesNoteGeneralObjectives" ng-bind="'INTERNSHIP.ACTIVITIESNOTE.GENERALOBJECTIVES' | translate"></label>
            <div ng-repeat="Gobjective in vm.internship.activitiesNote.generalObjectives">
              <input  name="internship.activititesNote.generalObjective" type="text" ng-model="Gobjective.value" id="vm.activitiesNote.generalObjective" class="form-control" placeholder="INTERNSHIP.ACTIVITIESNOTE.GENERALOBJECTIVE' | translate" required />
              <a class="btn btn-primary" ng-click="vm.removeGeneralObjective(Gobjective)" ng-if="vm.internship.activitiesNote.generalObjectives.indexOf(Gobjective)!=0">
              <i class="glyphicon glyphicon-minus"></i>
              </a>
              <div ng-messages="item.$error" role="alert">
                <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ACTIVITIESNOTE.GENERALOBJECTIVES' | translate"></p>
              </div>
              </div>  
            </div>
            <a class="btn btn-primary" ng-click="vm.addGeneralObjective()">
              <i class="glyphicon glyphicon-plus"></i>
            </a>

          <div  class="form-group" show-errors>
            <label class="control-label" for="InternshipActivitiesNoteSpecificObjectives" ng-bind="'INTERNSHIP.ACTIVITIESNOTE.SPECIFICOBJECTIVES' | translate"></label>
            <div ng-repeat="Sobjective in vm.internship.activitiesNote.specificObjectives">
              <input  name="internship.activititesNote.specificObjective" type="text" ng-model="Sobjective.value" id="vm.activitiesNote.specificObjective" class="form-control" placeholder="INTERNSHIP.ACTIVITIESNOTE.SPECIFICOBJECTIVE' | translate" required />                
              <a class="btn btn-primary" ng-click="vm.removeSpecificObjective(Sobjective)" ng-if="vm.internship.activitiesNote.specificObjectives.indexOf(Sobjective)!=0">
                <i class="glyphicon glyphicon-minus"></i>
              </a>
              <div ng-messages="item.$error" role="alert">
                <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.ACTIVITIESNOTE.SPECIFICOBJECTIVES' | translate"></p>
              </div>
            </div>
            </div>
            <a class="btn btn-primary" ng-click="vm.addSpecificObjective()">
              <i class="glyphicon glyphicon-plus"></i>
            </a>

          <div class="form-group" show-errors>
            <label class="control-label" for="InternshipActivitiesNoteApproval" ng-bind="'INTERNSHIP.ACTIVITIESNOTE.APPROVAL' | translate"></label>
            <input 
            name="internship.activititesNote.approval" 
            ng-true-value = "true"
            ng-false-value = "false"
            type="checkbox" 
            ng-model="vm.internship.activitiesNote.approval" 
            id="activitiesNoteApproval" 
            class="form-control" 
            />
            <div ng-messages="vm.form.internshipForm.convention.validation.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.CONVENTION.APPROVAL' | translate"></p>
          </div>
          </div>          
        </fieldset>
      <h3>Certificate</h3>
        <fieldset>
        <div class="form-group" show-errors>
            <label class="control-label" for="InternshipCertificateHandedIn" ng-bind="'INTERNSHIP.CERTIFICATE.HANDEDIN '| translate"></label>
            <input type = "checkbox"
            name="internship.certificate.handedIn" 
            ng-true-value = "true"
            ng-false-value = "false"
            ng-model="vm.internship.certificate.handedIn" 
            id="certificateHandedIn" class="form-control" 
            placeholder="INTERNSHIP.CERTIFICATE.HANDEDIN | translate" 
            />
            <div ng-messages="vm.form.internshipForm.certificate.handedIn.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.CERTIFICATE.HANDEDIN' | translate"></p>
          </div>
        </div>          
        </fieldset> 

      <h3>Deadlines</h3>
       <fieldset>
        <div class="form-group" show-errors>
            <label class="control-label" for="InternshipDeadlinesStartInternship" ng-bind="'INTERNSHIP.DEADLINES.STARTINTERNSHIP' | translate"></label>
            <div class="controls">
              <div class="dropdown">
                <a class="dropdown-toggle" id="InternshipDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <div class="input-group">
                    <input name="DeadlineStartInternship" type="date" ng-model="vm.internship.deadlines.startInternship" id="endInternship" class="form-control" placeholder="{{'INTERNSHIP.DEADLINES.STARTINTERNSHIP' | translate}}" required /><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="startLabel">
                  <datetimepicker ng-model="vm.internship.deadlines.startInternship" data-datetimepicker-config="{ dropdownSelector: '#startDropdown', startView:'day', minView:'day' }"></datetimepicker>
                </ul>
              </div>
            </div>
            <div ng-messages="vm.internship.deadlines.startInternship.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.DEADLINES.STARTINTERNSHIP_ERROR' | translate"></p>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="control-label" for="InternshipDeadlinesEndInternship" ng-bind="'INTERNSHIP.DEADLINES.ENDINTERNSHIP' | translate"></label>
            <div class="controls">
              <div class="dropdown">
                <a class="dropdown-toggle" id="InternshipDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <div class="input-group">
                    <input name="DeadlineEndInternship" type="date" ng-model="vm.internship.deadlines.endInternship" id="endInternship" class="form-control" placeholder="{{'INTERNSHIP.DEADLINES.ENDINTERNSHIP' | translate}}" required /><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="endLabel">
                  <datetimepicker ng-model="vm.internship.deadlines.endInternship" data-datetimepicker-config="{ dropdownSelector: '#endDropdown', startView:'day', minView:'day' }"></datetimepicker>
                </ul>
              </div>
            </div>
            <div ng-messages="vm.internship.deadlines.endInternship.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.DEADLINES.ENDINTERNSHIP_ERROR' | translate"></p>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="control-label" for="InternshipDeadlineswrittenReport" ng-bind="'INTERNSHIP.DEADLINES.WRITTENREPORT' | translate"></label>
            <div class="controls">
              <div class="dropdown">
                <a class="dropdown-toggle" id="InternshipDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <div class="input-group">
                    <input name="DeadlineWrittenReport" type="date" ng-model="vm.internship.deadlines.writtenReport" id="WrittenReport" class="form-control" placeholder="{{'INTERNSHIP.DEADLINES.WRITTENREPORT' | translate}}" required /><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="endLabel">
                  <datetimepicker ng-model="vm.internship.deadlines.writteReport" data-datetimepicker-config="{ dropdownSelector: '#endDropdown', startView:'day', minView:'day' }"></datetimepicker>
                </ul>
              </div>
            </div>
            <div ng-messages="vm.internship.deadlines.writtenReport.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.DEADLINES.WRITTENREPORT_ERROR' | translate"></p>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="control-label" for="InternshipDeadlineswrittenCertificate" ng-bind="'INTERNSHIP.DEADLINES.CERTIFICATE' | translate"></label>
            <div class="controls">
              <div class="dropdown">
                <a class="dropdown-toggle" id="InternshipDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <div class="input-group">
                    <input name="DeadlineCertificate" type="date" ng-model="vm.internship.deadlines.certificate" id="Certificate" class="form-control" placeholder="{{'INTERNSHIP.DEADLINES.CERTIFICATE' | translate}}" required /><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="endLabel">
                  <datetimepicker ng-model="vm.internship.deadlines.certificate" data-datetimepicker-config="{ dropdownSelector: '#endDropdown', startView:'day', minView:'day' }"></datetimepicker>
                </ul>
              </div>
            </div>
            <div ng-messages="vm.internship.deadlines.certificate.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.DEADLINES.CERTIFICATE_ERROR' | translate"></p>
            </div>
        </div>

    </fieldset>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.internship._id ? 'GENERAL.UPDATE' : 'GENERAL.CREATE' | translate}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
      </form>
    </div>
