<section>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="admin.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.edit.firstVisit({ internshipId: vm.internship._id })" ng-bind="'GENERAL.EDIT' | translate"></a>
      </li>
    </ol>
</section>

    <h2>{{vm.internship._id ? 'INTERNSHIP.FIRSTVISIT.EDIT' : 'INTERNSHIP.JOURNAL.FIRSTVISIT' | translate}}</h2>

    <div class="col-md-12">
      <form name="vm.form.internshipFirstVisitForm" class="form-horizontal" ng-submit="vm.save(vm.form.internshipFirstVisitForm.$valid)" novalidate>
      
  <h3>Create first internship visit</h3>
  <fieldset>        

  <div class="form-group" show-errors>
    <label class="control-label" for="start" ng-bind="'INTERNSHIP.FIRSTVISIT.DATE' | translate"></label>
    
    <div class="controls">
      <div class="input-group">
        <input ng-click="vm.open1()" name="internshipFirstVisitDate"  type="date" class="form-control" show-button-bar="false" uib-datepicker-popup ng-model="vm.internship.firstVisit.date" is-open="vm.popup1.opened" ng-required="true"/><span ng-click="vm.open1()" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>

    <div ng-messages="vm.form.examsessionForm.start.$error" role="alert">
      <p class="help-block error-text" ng-message="required" ng-bind="'EXAMSESSION.START_ERROR' | translate"></p>
    </div>
  </div>     

    <div class="form-group" show-errors>
      <label class="control-label" for="InternshipFirstVisitLocation" ng-bind="'INTERNSHIP.FIRSTVISIT.LOCATION' | translate"></label>
      <textarea name="internshipFirstVisitLocation" ng-model="vm.internship.firstVisit.location" id="internshipFirstVisitLocation" class="form-control" cols="30" rows="5" placeholder="{{'INTERNSHIP.FIRSTVISIT.LOCATION' | translate}}" required>
      </textarea>
      <div ng-messages="vm.form.internshipFirstVisitForm.firstVisit.location.note.$error" role="alert">
        <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.FIRSTVISIT.LOCATION' | translate"></p>
      </div>
    </div>  
  
  </fieldset>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.internship.firstVisti? 'GENERAL.UPDATE' : 'GENERAL.CREATE' | translate}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
      </form>
    </div>
