<section>
  <div ng-if="!vm.internships.$resolved" class="loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{'LOADING' | translate}}
  </div>


  <div ng-if="vm.internships.$resolved">
    <ol class="breadcrumb">
      <li class="active"><a ui-sref="admin.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a></li>
    </ol>

    <h2 ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></h2>

    <h3>Demandes d'accord de sujet</h3>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Matricule</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Entreprise</th>
              <th>Teacher Approval</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="internship in vm.subjetApprovalDemands" ui-sref="teacher.manage.internships.subjectApproval({ internshipId: internship._id })">
              <td ng-bind ="internship.student.username"></td>
              <td ng-bind ="internship.student.lastname"></td>
              <td ng-bind ="internship.student.firstname"></td>
              <td ng-bind ="internship.enterprise.name"></td>
              <td ng-bind ="internship.proposition.approval.consultedTeacherApproval"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 

    <h3>Demandes de supervisorat</h3>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Matricule</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Entreprise</th>
              <th>Response</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="internship in vm.supervisorDemands" ui-sref="teacher.manage.internships.supervisorApproval({ internshipId: internship._id })">
              <td ng-bind ="internship.student.username"></td>
              <td ng-bind ="internship.student.lastname"></td>
              <td ng-bind ="internship.student.firstname"></td>
              <td ng-bind ="internship.enterprise.name"></td>
              <td ng-bind ="internship.supervisor.propositionResponse"></td>
              <td ng-bind="internship.supervisor.status"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h3>Supervisorats</h3>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Matricule</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Entreprise</th>
              <th>Maitre de stage</th>
              <th>Superviseur</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="internship in vm.myInternships" ui-sref="admin.manage.internships.view({ internshipId: internship._id })">
              <td ng-bind ="internship.student.username"></td>
              <td ng-bind ="internship.student.lastname"></td>
              <td ng-bind ="internship.student.firstname"></td>
              <td ng-bind ="internship.enterprise.name"></td>
              <td ng-bind ="internship.master.username"></td>
              <td ng-bind ="internship.supervisor.supervisor.username"></td>
              <td>En stage</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
