      <h3>First Visit</h3>
    <fieldset>
    <div class="form-group" show-errors>
            <label class="control-label" for="InternshipFirstVisitDate" ng-bind="'INTERNSHIP.FIRSTVISIT.DATE' | translate"></label>
            <div class="controls">
              <div class="dropdown">
                <a class="dropdown-toggle" id="InternshipDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <div class="input-group">
                    <input name="firstVisit" type="date" ng-model="vm.internship.firstVisit.date" id="firstVisit" class="form-control" placeholder="{{'INTERNSHIP.FIRSTVISIT.DATE' | translate}}" required /><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="startLabel">
                  <datetimepicker ng-model="vm.internship.firstVisit.date" data-datetimepicker-config="{ dropdownSelector: '#startDropdown', startView:'day', minView:'day' }"></datetimepicker>
                </ul>
              </div>
            </div>
            <div ng-messages="vm.internship.firstVisit.date.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.FIRSTVISIT.DATE_ERROR' | translate"></p>
            </div>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label" for="InternshipFirstVisitLocation" ng-bind="'INTERNSHIP.FIRSTVISIT.LOCATION' | translate"></label>
          <input name="internship.firstVisit.location" type="text" ng-model="vm.internship.firstVisit" id="firstVisitLocation" class="form-control" placeholder="INTERNSHIP.FIRSTVISIT.LOCATION | translate" required />
          <div ng-messages="vm.form.internshipForm.firstVisit.location.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.FIRSTVISIT.LOCATION' | translate"></p>
          </div>
      </div>

      <div class="form-group" show-errors>
        <label class="control-label" for="InternshipFirstVisitSupervisorNotes" ng-bind="'INTERNSHIP.FIRSTVISIT.SUPERVISORNOTES' | translate"></label>
          <textarea cols="30" rowns="5" name="internship.firstVisit.supervisorNotes" type="text" ng-model="vm.internship.firstVisit.supervisorNotes" id="firstVisitSupervisorNotes" class="form-control" placeholder="INTERNSHIP.FIRSTVISIT.SUPERVISORNOTES | translate" required></textarea>
          <div ng-messages="vm.form.internshipForm.firstVisit.supervisorNotes.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.FIRSTVISIT.SUPERVISORNOTES' | translate"></p>
          </div>
      </div> 
    </fieldset>

<h3>Intermediate Evaluation</h3>
    <fieldset>
      <div class="form-group" show-errors>
        <label class="control-label" for="InternshipIntermediateEvaluationMasterNotes" ng-bind="'INTERNSHIP.INTERMEDIATEEVALUATION.MASTERNOTES' | translate"></label>
          <textarea cols="30" rowns="5" name="internship.intermediateEvaluation.masterNotes" type="text" ng-model="vm.internship.intermediateEvaluation.masterNotes" id="intermediateEvaluationMasterNotes" class="form-control" placeholder="INTERNSHIP.INTERMEDIATEEVALUATION.MASTERNOTES | translate" required></textarea>
          <div ng-messages="vm.form.internshipForm.intermediateEvaluation.masterNotes.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'INTERNSHIP.INTERMEDIATEEVALUATIONNOTES' | translate"></p>
          </div>
      </div> 
    </fieldset>
    