<section>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="student.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a>
      </li>
      <li ng-if="vm.internship._id" class="active">
          <a ui-sref="student.manage.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
    </ol>
</section>

<uib-tabset>
  <uib-tab heading="Overview">
      <div class = "row">
    <div class = "col-md-12">
      <h2>Overview of Internship</h2>
      <hr>
      <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><strong>Student</strong></div>
        <div class="col-md-6" ng-bind="vm.internship.student"></div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Master</strong></div>
        <div class="col-md-6" ng-bind="vm.internship.master"></div>
      </div>               
      <div class="row">
        <div class="col-md-4"><strong>Supervisor</strong></div>
        <div class="col-md-6" ng-bind="vm.internship.supervisor"></div>
      </div>
    </div>  
  </div>
  </div>
  </uib-tab>

  <uib-tab heading="Enterprise">
  <div class="row">
      <div class="col-md-12">
        <h2>Enterprise</h2>
        <div class="alert alert-warning" ng-if="!vm.internship.enterprise" ng-bind="'INTERNSHIP.NO_ENTERPRISE' | translate"></div>
        <div ng-if="vm.internship.enterprise">
        <hr>
        <div class="col-md-6">
          <h3>General information</h3>
            <div class="row">
                  <div class="col-md-5"><strong>Name</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.name"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Domain</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.domain"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Representative</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.representative.name"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Representative Position</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.representative.position"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Telephone</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.phoneNumber"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Fax</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.fax"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Mail</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.mail"></div>
              </div>
        </div>

        <div class="col-md-6">
          <h3>Address</h3>
          <div class="row">
                <div class="col-md-3"><strong>Street</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.street"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Number</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.number"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>PostalCode</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.postalCode"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>City</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.city"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Country</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.country"></div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="student.manage.internships.edit.enterprise({ internshipId: vm.internship._id })">
          <i class="glyphicon glyphicon-edit" ng-if="vm.internship.enterprise"></i>
          <span class="glyphicon glyphicon-plus" ng-if="!vm.internship.enterprise" aria-hidden="true"></span>
          <span> {{ vm.internship.enterprise? 'INTERNSHIP.ENTERPRISE.UPDATE':'INTERNSHIP.ENTERPRISE.CREATE' | translate}} </span>
        </a>
      </div>
    </div>
  </uib-tab>

  <uib-tab heading="Participants" ng-if="vm.internship.proposition">
   <div class = "row">
    <div class = "col-md-12">
      <h2>Participants</h2>
      <hr>
      <div class="col-md-10">
      <div class="row">
        <div class="col-md-3"><strong>Master</strong></div>
        <div class="col-md-6" ng-bind="vm.internship.master"></div>
      </div> 
      <div class="row">
        <div class="col-md-3"><strong>Supervisor</strong></div>
        <div class="col-md-6" ng-bind="vm.internship.supervisor"></div>
      </div>             
      <div class="row">
        <div class="col-md-3"><strong>Consulted Teacher</strong></div>
        <div class="col-md-6" ng-bind="vm.internship.proposition.approval.consultedTeacher"></div>
      </div>        
      <div class="row">
        <div class="col-md-3"><strong>Validator</strong></div>
        <div class="col-md-6" ng-bind="vm.internship.validator"></div>
      </div>
    </div>  
  </div>
  </div>
    <hr>      

  </uib-tab>
  <uib-tab heading="Proposition">

    <div class="row">
      <div class="col-md-12">
        <h2>Proposition</h2>
        <div class="alert alert-warning" ng-if="!vm.internship.proposition" ng-bind="'INTERNSHIP.NO_PROPOSITION' | translate"></div>
        <div ng-if="vm.internship.proposition">
        <hr>
        <div class="col-md-8">   
          <h3>General information</h3>
            <div class="row">
                <div class="col-md-2"><strong>Theme</strong></div>
                <div class="col-md-9" ng-bind="vm.internship.proposition.theme"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Domain</strong></div>
                <div class="col-md-9" ng-bind="vm.internship.proposition.domain"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Location</strong></div>
                <div class="col-md-9" ng-bind="vm.internship.proposition.location"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Description</strong></div>
                <div class="col-md-9" ng-bind="vm.internship.proposition.description"></div>
            </div>
        </div>
        <div class="col-md-4">
          <h3>Approval</h3>  
            <div class="row">
                <div class="col-md-7"><strong>Master</strong></div>
                <div class="col-md-1" ng-bind="vm.internship.proposition.approval.masterApproval"></div>
            </div>
            <div class="row">
                <div class="col-md-7"><strong>Consulted Teacher</strong></div>
                <div class="col-md-1" ng-bind="vm.internship.proposition.approval.consultedTeacherApproval"></div>
            </div>
            <div class="row">
                <div class="col-md-7"><strong>Supervisor</strong></div>
                <div class="col-md-1" ng-bind="vm.internship.proposition.approval.supervisorApproval"></div>
            </div>
            <div class="row">
                <div class="col-md-7"><strong>Validator</strong></div>
                <div class="col-md-1" ng-bind="vm.internship.proposition.approval.validatorApproval"></div>
            </div>                        
        </div>
        </div>
      </div>
    </div>
    <hr>   
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="student.manage.internships.edit.proposition({ internshipId: vm.internship._id })">
          <i class="glyphicon glyphicon-edit" ng-if="vm.internship.proposition"></i>
          <span class="glyphicon glyphicon-plus" ng-if="!vm.internship.proposition" aria-hidden="true"></span>
          <span> {{vm.internship.proposition? 'INTERNSHIP.PROPOSITION.UPDATE':'INTERNSHIP.PROPOSITION.CREATE' | translate}} </span>
        </a>
      </div>
    </div>     
  </uib-tab>

  <uib-tab heading="First Meeting">
   <div class = "row">
    <div class = "col-md-12">
      <h2>First Meeting</h2>
      <div class="alert alert-warning" ng-if="!vm.internship.firstVisit" ng-bind="'INTERNSHIP.NO_FIRSTVISIT' | translate"></div>
      <div ng-if="vm.internship.firstVisit">
      <hr>
          <div class="col-md-10">
          <div class="row">
            <div class="col-md-3"><strong>Location</strong></div>
            <div class="col-md-6" ng-bind="vm.internship.firstVisit.location"></div>
          </div> 
          <div class="row">
            <div class="col-md-3"><strong>Date</strong></div>
            <div class="col-md-6" ng-bind="vm.internship.firstVisit.date | amDateFormat: 'ddd D MMM YYYY'"></div>
          </div>             
          <div class="row">
            <div class="col-md-3"><strong>Supervisor Notes</strong></div>
            <div class="col-md-6" ng-bind="vm.internship.firstVisit.supervisorNotes"></div>
          </div>        
        </div>  
      </div>
    </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="student.manage.internships.edit.firstVisit({ internshipId: vm.internship._id })">
          <i class="glyphicon glyphicon-edit" ng-if="vm.internship.firstVisit"></i>
          <span class="glyphicon glyphicon-plus" ng-if="!vm.internship.firstVisit" aria-hidden="true"></span>
          <span> {{vm.internship.firstVisit? 'INTERNSHIP.FIRSTVISIT.UPDATE':'INTERNSHIP.FIRSTVISIT.CREATE' | translate}} </span>
        </a>
      </div>
    </div>
    </div>
  </uib-tab>      

  <uib-tab heading="Final Presentation">
  <div class="row">
  <div class="col-md-12">
  <h2>Journal</h2>
    <div class="action-box">
      <a class="btn btn-primary" ui-sref="student.manage.internships.edit.journal({ internshipId: vm.internship._id })"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'JOURNAL.ENTRY.CREAATE' | translate}}</a>
    </div>
    <hr>
    <div class="alert alert-warning" ng-if="!vm.internship.journal.entries[0]" ng-bind="'INTERNSHIP.NO_JOURNAL_ENTRIES' | translate"></div>
    
    <div class="panel-group">
      <div class="panel panel-default" ng-repeat="entry in vm.internship.journal.entries">
        <div class="panel-heading">
        {{entry.date | amDateFormat: 'ddd D MMM YYYY'}}
        </div>
        <div class="panel-body">
        {{entry.note}}
        </div>
      </div>
    </div>
  </div>
  </div>
  </uib-tab>

  <uib-tab heading="Journal de bord">
  <div class="row">
  <div class="col-md-12">
  <h2>Journal</h2>
    <div class="action-box">
      <a class="btn btn-primary" ui-sref="student.manage.internships.edit.journal({ internshipId: vm.internship._id })"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'JOURNAL.ENTRY.CREAATE' | translate}}</a>
    </div>
    <hr>
    <div class="alert alert-warning" ng-if="!vm.internship.journal.entries[0]" ng-bind="'INTERNSHIP.NO_JOURNAL_ENTRIES' | translate"></div>
    
    <div class="panel-group">
      <div class="panel panel-default" ng-repeat="entry in vm.internship.journal.entries">
        <div class="panel-heading">
        {{entry.date | amDateFormat: 'ddd D MMM YYYY'}}
        </div>
        <div class="panel-body">
        {{entry.note}}
        </div>
      </div>
    </div>
  </div>
  </div>
  </uib-tab>

</uib-tabset>