<section>
	<ol class="breadcrumb">
	    <li><a ui-sref="admin.manage.internships.list" ng-bind="'INTERNSHIP.INTERNSHIPS' | translate"></a></li>
	    <li ng-if="vm.internship._id" class="active">
        <a ui-sref="admin.manage.internships.view({ internshipId: vm.internship._id })" ng-bind="vm.internship._id"></a>
      </li>
  </ol>

  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="vm.internship._id"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.manage.internships.edit({ internshipId: vm.internship._id })">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>
    
  <div class = "row">
    <div class = "col-md-12">
      <h2>Participants</h2>
      <div class="col-md-6">
      <div class="row">
        <div class="col-md-5"><strong>Student</strong></div>
        <div class="col-md-6">{{ vm.internship.student.lastname + ' ' + vm.internship.student.firstname}}</div>
      </div>
      <div class="row">
        <div class="col-md-5"><strong>Master</strong></div>
        <div class="col-md-6">{{ vm.internship.master.lastname + ' ' + vm.internship.master.firstname}}</div>
      </div>        
      <div class="row">
        <div class="col-md-5"><strong>Consulted Teacher</strong></div>
        <div class="col-md-6">{{ vm.internship.consultedTeacher.lastname + ' ' + vm.internship.consultedTeacher.firstname }}</div>
      </div>        
      <div class="row">
        <div class="col-md-5"><strong>Supervisor</strong></div>
        <div class="col-md-6">{{ vm.internship.supervisor.supervisor.lastname + ' ' + vm.internship.supervisor.supervisor.firstname }}</div>
      </div>
    </div>  
  </div>
  </div>
  <hr>

  <div class="row">
      <div class="col-md-12">
        <h2>Enterprise</h2>
        <div class="col-md-6">
          <h3>General information</h3>
            <div class="row">
                  <div class="col-md-5"><strong>Name</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.name"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Domain</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.domain"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Representative</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.representative.name"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Representative Position</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.representative.position"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Telephone</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.phoneNumber"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Fax</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.fax"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Mail</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.enterprise.mail"></div>
              </div>
        </div>

        <div class="col-md-6">
          <h3>Address</h3>
          <div class="row">
                <div class="col-md-3"><strong>Street</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.street"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Number</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.number"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>PostalCode</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.postalCode"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>City</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.city"></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Country</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.enterprise.address.country"></div>
            </div>
        </div>
      </div>
    </div>
    <hr>    

    <div class="row">
      <div class="col-md-12">
        <h2>Proposition</h2>
        <div class="col-md-8">   
          <h3>General information</h3>
            <div class="row">
                <div class="col-md-2"><strong>Theme</strong></div>
                <div class="col-md-9" ng-bind="vm.internship.proposition.theme"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Domain</strong></div>
                <div class="col-md-9" ng-bind="vm.internship.proposition.domain"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Location</strong></div>
                <div class="col-md-9" ng-bind="vm.internship.proposition.location"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Description</strong></div>
                <div class="col-md-9" ng-bind="vm.internship.proposition.description"></div>
            </div>
        </div>
        <div class="col-md-4">
          <h3>Approval</h3>  
            <div class="row">
                <div class="col-md-7"><strong>Master</strong></div>
                <div class="col-md-1" ng-bind="vm.internship.proposition.approval.masterApproval"></div>
            </div>
            <div class="row">
                <div class="col-md-7"><strong>Consulted Teacher</strong></div>
                <div class="col-md-1" ng-bind="vm.internship.proposition.approval.consultedTeacherApproval"></div>
            </div>
            <div class="row">
                <div class="col-md-7"><strong>Coordinator</strong></div>
                <div class="col-md-1" ng-bind="vm.internship.proposition.approval.coordinatorApproval"></div>
            </div>                        
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <h3>Comments</h3>
                <div class="row" ng-if="vm.internship.proposition.approval.consultedTeacherComment">
                  <div class="col-md-2"><strong>Teacher comment:</strong></div>
                  <div class="col-md-9">{{vm.internship.proposition.approval.consultedTeacherComment}}</div>
                </div>
                <div class="row" ng-if="vm.internship.proposition.approval.masterComment">
                  <div class="col-md-2"><strong>Master comment:</strong></div>
                  <div class="col-md-9">{{vm.internship.proposition.approval.masterComment}}</div>
                </div>
                <div class="row" ng-if="vm.internship.proposition.approval.coordinatorComment">
                  <div class="col-md-2"><strong>Coordinator comment:</strong></div>
                  <div class="col-md-9">{{vm.internship.proposition.approval.coordinatorComment}}</div>
                </div>
            </div>
          </div>
        </div>        
      </div>
    </div>

    <hr>
<div class="row">
      <div class="col-md-12">
        <h2>Activities Note</h2>
        <div>
          <div class="col-md-5"><h3>General Objectives</h3></div><div class="col-md-6"><h3>Specific Objectivies</h3></div>
            
            <div class="row" ng-repeat="Gobjective in vm.internship.activitiesNote.generalObjectives">
              <div class="col-md-5">   
                <ul>
                  <li>{{Gobjective.value}}</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul ng-repeat="Sobjective in Gobjective.specificObjectives">
                  <li>{{Sobjective.value}}</li>
                </ul>
              </div>
            </div>

        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="col-md-12">
      <h3>Approval & Comments</h3>  
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2"><strong>Master:</strong></div>
            <div class="col-md-10">
              <ul>
                <li>
                  <strong class="col-md-2">Approval:</strong>
                  <span class="col-md-8">{{vm.internship.activitiesNote.approval.masterApproval === null? 'pending' : vm.internship.activitiesNote.approval.masterApproval}}</span>
                </li>
                <li>
                  <strong class="col-md-2">Comment:</strong>
                  <span class="col-md-8">{{vm.internship.activitiesNote.masterComment === null? 'no comment' : vm.internship.activitiesNote.masterComment}}</span>
                </li>
              </ul>
            </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2"><strong>Supervisor:</strong></div>
            <div class="col-md-10">
              <ul>
                <li>
                  <strong class="col-md-2">Approval:</strong>
                  <span class="col-md-8">{{vm.internship.activitiesNote.approval.supervisorApproval === null? 'pending' : vm.internship.activitiesNote.approval.supervisorApproval}}</span>
                </li>
                <li>
                  <strong class="col-md-2">Comment:</strong>
                  <span class="col-md-8">{{vm.internship.activitiesNote.supervisorComment === null? 'no comment' : vm.internship.activitiesNote.supervisorComment}}</span>
                </li>
              </ul>
            </div>
          </div>  
        </div>
      </div>        
    </div>
    </div>
    <hr>    

    <div class="row">
      <div class="col-md-12">
        <h2>Deliverables</h2>
        <div class="col-md-3">
          <h3>Convention</h3>
          <div class="row">
                <div class="col-md-3"><strong>Status</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.convention.validation"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Certificate</h3>
          <div class="row">
                <div class="col-md-3"><strong>Status</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.convention.validation"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Written report</h3>
          <div class="row">
                <div class="col-md-3"><strong>Status</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.convention.validation"></div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Deadlines</h2>
        <div class="col-md-3">
          <h3>Internship start</h3>
          <div class="row">
                <div class="col-md-2"><strong>Date</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.deadlines.startInternship | amDateFormat:'ddd D MMM YYYY'"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Certificate</h3>
          <div class="row">
                <div class="col-md-2"><strong>Date</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.deadlines.certificate | amDateFormat:'ddd D MMM YYYY'"></div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Written report</h3>
          <div class="row">
                <div class="col-md-2"><strong>Date</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.deadlines.writtenReport | amDateFormat:'ddd D MMM YYYY'"></div>
          </div>
        </div>        
        <div class="col-md-3">
          <h3>Internship end</h3>
          <div class="row">
                <div class="col-md-2"><strong>Date</strong></div>
                <div class="col-md-7" ng-bind="vm.internship.deadlines.endInternship | amDateFormat:'ddd D MMM YYYY'"></div>
          </div>
        </div>
      </div>
    </div>
    <hr>

  <div class="row">
  <div class="col-md-12">
  <h2>First Meeting</h2>
    <div>
      <h3>General information</h3>
        <div>
          <div class="row">
            <div class="col-md-3"><strong>Location</strong></div>
            <div class="col-md-6" ng-bind="vm.internship.firstVisit.location"></div>
          </div> 
          <div class="row">
            <div class="col-md-3"><strong>Date</strong></div>
            <div class="col-md-6" ng-bind="vm.internship.firstVisit.date | amDateFormat: 'ddd D MMM YYYY'"></div>
          </div>                           
        </div>

      <div>
      <h3>Notes</h3>
        <div>
          <div>
          <h4>Master Notes</h4>
              <div class="panel-group">
                <div class="panel panel-default" ng-repeat="note in vm.internship.firstVisit.masterNotes">
                  <div class="panel-body">
                  {{note.value}}
                  </div>
                </div>
              </div> 
           <h4>Supervisor Notes</h4>              
              <div class="panel-group">
                <div class="panel panel-default" ng-repeat="note in vm.internship.firstVisit.supervisorNotes">
                  <div class="panel-body">
                  {{note.value}}
                  </div>
                </div>
              </div>              
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

    <div class="row">
  <div class="col-md-12">
  <h2>Oral presentation</h2>
    <div>
      <h3>General information</h3>
        <div>
          <div class="row">
            <div class="col-md-3"><strong>Location</strong></div>
            <div class="col-md-6" ng-bind="vm.internship.oralPresentation.location"></div>
          </div> 
          <div class="row">
            <div class="col-md-3"><strong>Date</strong></div>
            <div class="col-md-6" ng-bind="vm.internship.oralPresentation.date | amDateFormat: 'ddd D MMM YYYY'"></div>
          </div>                           
        </div>

      <div>
      <h3>Notes</h3>
        <div>
          <div>
          <h4>Master Notes</h4>
              <div class="panel-group">
                <div class="panel panel-default" ng-repeat="note in vm.internship.oralPresentation.masterNotes">
                  <div class="panel-body">
                  {{note.value}}
                  </div>
                </div>
              </div> 
           <h4>Supervisor Notes</h4>              
              <div class="panel-group">
                <div class="panel panel-default" ng-repeat="note in vm.internship.oralPresentation.supervisorNotes">
                  <div class="panel-body">
                  {{note.value}}
                  </div>
                </div>
              </div>              
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Intermediate Evaluation</h2>
        <div class="col-md-8">
          <h3>Master notes</h3>
          <div class="row">
                <div class="col-md-12" ng-bind="vm.internship.intermediateEvaluation.masterNotes"></div>
          </div>
        </div>
        <div class="col-md-4">
        <h3>General information</h3>
            <div class="row">
                  <div class="col-md-5"><strong>Date</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.intermediateEvaluation.date | amDateFormat:'ddd D MMM YYYY'"></div>
              </div>
              <div class="row">
                  <div class="col-md-5"><strong>Location</strong></div>
                  <div class="col-md-6" ng-bind="vm.internship.intermediateEvaluation.location"></div>
              </div>
        </div>
      </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Continuous Evaluation</h2>
        <div class="col-md-3">
          <h3>Points</h3>
          <div class="row">
              <ul><li ng-repeat="i in cvm.getNumber(vm.internship.continuousEvaluation.points.length)">
              {{vm.internship.continuousEvaluation.points[i]}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <h2>Oral Presentation</h2>
        <div class="col-md-3">
          <h3>Points</h3>
          <div class="row">
                <ul><li ng-repeat="i in cvm.getNumber(vm.internship.oralPresentation.points.length)">
                  {{vm.internship.oralPresentation.points[i]}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>    

    <div class="row">
      <div class="col-md-12">
        <h2>Written Report</h2>
        <div class="col-md-3">
          <h3>Points</h3>
          <div class="row">
                <ul><li ng-repeat="i in cvm.getNumber(vm.internship.writtenReport.points.length)">
                  {{vm.internship.writtenReport.points[i]}}</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>    
  </div>
  </div>
