<section>
  <div ng-if="(vm.activity._id && !vm.activity.$resolved) || !vm.isFormReady()" class="loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{'LOADING' | translate}}
  </div>

  <div ng-if="(!vm.activity._id || vm.activity.$resolved) && vm.isFormReady()">
    <ol class="breadcrumb">
      <li><a ui-sref="admin.manage.activities.list" ng-bind="'ACTIVITY.ACTIVITIES' | translate"></a></li>
      <li ng-if="!vm.activity._id" class="active"><a ui-sref="admin.manage.activities.create" ng-bind="'GENERAL.CREATE' | translate"></a></li>
      <li ng-if="vm.activity._id"><a ui-sref="admin.manage.activities.view({ activityCode: vm.activity.code })" ng-bind="vm.activity.code"></a></li>
      <li ng-if="vm.activity._id" class="active"><a ui-sref="admin.manage.activities.edit({ activityCode: vm.activity.code })" ng-bind="'GENERAL.EDIT' | translate"></a></li>
    </ol>

    <h2><span ng-if="vm.activity._id" ng-bind="vm.activityname"></span><span ng-if="!vm.activity._id" ng-bind="'ACTIVITY.CREATE' | translate"></span></h2>

    <div class="col-md-12">
      <form name="vm.form.activityForm" class="form-horizontal" ng-submit="vm.save(vm.form.activityForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="code" ng-bind="'ACTIVITY.CODE' | translate"></label>
            <input name="code" type="text" ng-model="vm.activity.code" id="code" class="form-control" placeholder="{{'ACTIVITY.CODE' | translate}}" required ng-disabled="vm.activity._id" />
            <div ng-messages="vm.form.activityForm.code.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'ACTIVITY.CODE_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="name" ng-bind="'ACTIVITY.NAME' | translate"></label>
            <input name="name" type="text" ng-model="vm.activity.name" id="name" class="form-control" placeholder="{{'ACTIVITY.NAME' | translate}}" required />
            <div ng-messages="vm.form.activityForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'ACTIVITY.NAME_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="teachers" ng-bind="'ACTIVITY.TEACHERS' | translate"></label>
            <tags-input name="teachers" type="text" ng-model="vm.activity.teachers" add-on-blur="false" add-from-autocomplete-only="true" display-property="displayName" replace-spaces-with-dashes="false" id="teachers" placeholder="{{'ACTIVITY.ADD_TEACHER' | translate}}" min-tags="1">
              <auto-complete source="vm.loadTeachers($query)" min-length="0"></auto-complete>
            </tags-input>
            <div ng-messages="vm.form.activityForm.teachers.$error" role="alert">
              <p class="help-block error-text" ng-message="minTags" ng-bind="'ACTIVITY.TEACHER_MISSING_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="control-label" for="hours" ng-bind="'ACTIVITY.HOURS' | translate"></label>
            <input name="hours" type="number" ng-model="vm.activity.hours" id="hours" class="form-control" placeholder="{{'ACTIVITY.HOURS' | translate}}" required />
            <div ng-messages="vm.form.activityForm.hours.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-bind="'ACTIVITY.HOURS_ERROR' | translate"></p>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" ng-bind="'ACTIVITY.EVALUATIONS' | translate"></label>
            <div>
              <input name="evaluation_written" type="checkbox" ng-model="vm.activityevaluations.written" id="evaluations" />&nbsp;{{'EVALUATION.WRITTEN' | translate}}<br />
              <input name="evaluation_oral" type="checkbox" ng-model="vm.activityevaluations.oral" id="evaluations" />&nbsp;{{'EVALUATION.ORAL' | translate}}<br />
              <input name="evaluation_assignment" type="checkbox" ng-model="vm.activityevaluations.assignment" id="evaluations" />&nbsp;{{'EVALUATION.ASSIGNMENT' | translate}}<br />
              <input name="evaluation_project" type="checkbox" ng-model="vm.activityevaluations.project" id="evaluations" />&nbsp;{{'EVALUATION.PROJECT' | translate}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="description" ng-bind="'ACTIVITY.DESCRIPTION' | translate"></label>
            <textarea name="description" ng-model="vm.activity.description" id="description" class="form-control" cols="30" rows="5" placeholder="{{'ACTIVITY.DESCRIPTION' | translate}}"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-bind="vm.activity._id ? 'GENERAL.UPDATE' : 'GENERAL.CREATE' | translate"></button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
